
.bc-faq .faq-wraper .faq-desc .medal-gold>img {
  width: 300px;
  height: 300px;
  @media screen and (max-width:1640px) {
    width: 250px;
    height: 250px;
  }
  @media screen and (max-width:1024px) {
    width: 70px;
    height: 70px;
  }
}
.star-bg-img1, .star-bg-img2 {
  z-index: 1 !important;
  pointer-events: none; /* Da ne blokiraju klikove! */
}

.faq-items {
  position: relative;
  z-index: 100;
}
.faq-item {
  position: relative;
  z-index: 100;
}

.faq-items, .faq-item, .fl-desc {
  z-index: 9999 !important;
  position: relative !important;
}
.star-bg-img1, .star-bg-img2 {
  display: none !important;
}