.bc-faq {
  @apply relative px-[0.5rem] lg:px-5 overflow-hidden;
}

.bc-faq .bounce-bg-animt {
  @apply w-full h-full absolute;
}

.bc-faq .bounce-bg-animt .img-bg-bounce {
  @apply absolute z-9;
}

.bc-faq .bounce-bg-animt .bg-bounce-ligh-blue {
  animation: 15s faqBounceLightBlue infinite alternate;
  left: -250px;
  top: -200px;
}

.bc-faq .bounce-bg-animt .bg-bounce-ligh-red {
  animation: 15s faqBounceLightRed infinite alternate;
  right: -120px;
  top: -120px;
}

@keyframes faqBounceLightBlue {
  from {
    left: 0;
  }
  to {
    left: 70%;
  }
}

@keyframes faqBounceLightRed {
  from {
    right: 0;
  }
  to {
    right: 70%;
  }
}

.bc-faq .faq-wraper {
  border-radius: 100px 100px 0px 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 141, 131, 0.10) 100%);
  backdrop-filter: blur(17px);
  @apply grid grid-cols-1 lg:grid-cols-2 gap-6 relative z-9 px-0 lg:px-19 lg:py-15 py-4;
}

.bc-faq .faq-wraper .faq-desc {
  @apply relative;
}

.bc-faq .faq-wraper .faq-desc .medal-gold {
  @apply w-[50%] mx-auto lg:w-full mb-6;
}

.bc-faq .faq-wraper .faq-desc .medal-gold>img {
  @apply mx-auto;
}

.bc-faq .faq-wraper .faq-desc .text-info {
  font-style: normal;
  font-family: 'gilroy' !important;
  @apply text-center max-w-[516px] mx-auto text-fullWhite capitalize text-4xl font-bold;
}

.bc-faq .faq-wraper .faq-desc .star-bg-img1 {
  animation: 5s faqAnimateStars1 infinite alternate;
  @apply w-full absolute top-4 right-4 my-0 mx-auto z-9;
}
.bc-faq .faq-wraper .faq-desc .star-bg-img2 {
  animation: 5s faqAnimateStars2 infinite alternate;
  @apply w-[110%] absolute top-[-4rem] left-0 right-0 my-0 mx-auto z-9;
}

@keyframes faqAnimateStars1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes faqAnimateStars2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bc-faq .faq-wraper .faq-list {
  @apply text-fullWhite;
}

.bc-faq .faq-wraper .faq-list .fl-title {
  font-style: normal;
  font-family: 'gilroy' !important;
  @apply text-4xl font-black;
}

.bc-faq .faq-wraper .faq-list .fl-sub-title {
  font-style: normal;
  font-family: 'gilroy' !important;
  @apply text-lg font-normal;
}

.bc-faq .faq-wraper .faq-list .faq-items {
  @apply mt-3 flex flex-col items-start self-stretch gap-0 p-4 lg:p-7 bg-fullWhite/3 rounded-5;
}

.bc-faq .faq-wraper .faq-list .faq-items .faq-item {
  @apply w-full py-4;
}
.bc-faq .faq-wraper .faq-list .faq-items .faq-item:not(:last-child) {
  @apply border-b border-fullWhite/10;
}
.bc-faq .faq-wraper .faq-list .faq-items .faq-item .details-content .fl-title {
  font-style: normal;
  font-family: 'gilroy' !important;
  @apply font-bold text-2xl;
}
.bc-faq .faq-wraper .faq-list .faq-items .faq-item .details-content .fl-desc {
  font-style: normal;
  font-family: 'gilroy' !important;
  @apply pt-2 font-normal text-lg;
}

.bc-faq .wave-circle-box {
  @apply w-[100%] absolute top-[22%] left-[10%];
}

.bc-faq .wave-circle-box .wave-circle-1,
.bc-faq .wave-circle-box .wave-circle-2,
.bc-faq .wave-circle-box .wave-circle-3 {
  @apply w-full absolute top-0 right-0 bottom-0 left-0 z-1;
}

@keyframes bl-rotate-wave-circle {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

.bc-faq .wave-circle-box .wave-circle-1 {
  animation: 10s bl-rotate-wave-circle infinite alternate;
}

.bc-faq .wave-circle-box .wave-circle-2 {
  animation: 15s bl-rotate-wave-circle infinite reverse;
}

.bc-faq .wave-circle-box .wave-circle-3 {
  animation: 20s bl-rotate-wave-circle infinite alternate;
}