@import './creators-platform.css';
@import './analyze-fans.css';
@import './animations.css';
@import './bio-link.css';
@import './faq.css';
@import './more-ways-to-earn.css';
@import './trusted-creators.css';

.body{
    background-color: #111111;
    font-family: 'Gilroy-Bold';
}

.screen-section {
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
    overflow: hidden;
}

.screen-section.active {
    opacity: 1;
    pointer-events: auto;
    position: relative;
}


#creators-mobile-frame-anchor, #trusted-mobile-frame-anchor {
    outline: 2px solid red !important;
    background: rgba(255,0,0,0.1);
    z-index: 9999 !important;
  }