.creators-platform {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 6rem;
  overflow: hidden;
}

.creators-platform .cp-left {
  position: relative;
  width: 100%;
}
@media (min-width: 1024px) {
  .creators-platform .cp-left {
    width: 50%;
  }
}

.creators-platform .cp-left .bcc-heading-title {
  font-size: 3rem;
  line-height: 4rem;
  width: 100%;
  max-width: 42.69rem;
}
@media (min-width: 1024px) {
  .creators-platform .cp-left .bcc-heading-title {
    font-size: 6.25rem;
    line-height: 6.25rem;
  }
}

.creators-platform .cp-left .ca-text-animate {
  max-width: 38.18rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #212121; /* midBlack */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  margin-top: 1.5rem;
  border-width: 1px;
  border-radius: 1.875rem;
  border-color: rgba(255, 255, 255, 0.05); /* fullWhite/5 */
}
@media (min-width: 1024px) {
  .creators-platform .cp-left .ca-text-animate {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

.creators-platform .cp-left .ca-text-title {
  color: #ef4444; /* midRed */
  min-width: 7.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (min-width: 1024px) {
  .creators-platform .cp-left .ca-text-title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

.creators-platform .cp-left .content-animate {
  color: #ffffff; /* fullWhite */
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (min-width: 1024px) {
  .creators-platform .cp-left .content-animate {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

.creators-platform .cp-left .typewriter-container {
  border-right: 1.5px solid rgba(255, 255, 255, 0.5);
}

.creators-platform .cp-left .typewriter-container::after {
  content: "";
  border-right: 10px solid #000000;
}

.creators-platform .cp-right {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .creators-platform .cp-right {
    width: 50%;
  }
}

@keyframes move-img-bg-blur {
  from {
    transform: translateX(-5%);
    scale: 1;
  }

  to {
    transform: translateX(5%);
    scale: 1.2;
  }
}

.creators-platform .cp-right .img-bg-blur {
  filter: blur(30px);
  opacity: 20%;
  animation: 30s move-img-bg-blur infinite alternate;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes cp-rotate-wave-circle {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

.creators-platform .cp-right .wave-circle-box {
  width: 150%;
  position: absolute;
  top: -20%;
  right: -40%;
}

.creators-platform .cp-right .wave-circle-box .wave-circle-1,
.creators-platform .cp-right .wave-circle-box .wave-circle-2,
.creators-platform .cp-right .wave-circle-box .wave-circle-3 {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.creators-platform .cp-right .wave-circle-box .wave-circle-1 {
  animation: 10s cp-rotate-wave-circle infinite alternate;
}

.creators-platform .cp-right .wave-circle-box .wave-circle-2 {
  animation: 15s cp-rotate-wave-circle infinite reverse;
}

.creators-platform .cp-right .wave-circle-box .wave-circle-3 {
  animation: 20s cp-rotate-wave-circle infinite alternate;
}

.creators-platform .cp-right .video-container {
  width: 88%;
  height: auto;
  margin: auto;
  position: relative;
}

.creators-platform .cp-right .video-container .video-mask {
  transition: 0.9s;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 700px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1 / 1;
}

.creators-platform .cp-right .video-container .video-mask::before,
.creators-platform .cp-right .video-container .video-mask::after {
  content: "";
  max-width: 26.1%;
  max-height: 24.12%;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #ffffff; /* fullWhite */
  position: absolute;
}

.creators-platform .cp-right .video-container .video-mask::before {
  top: 0;
  right: -6.7%;
}

.creators-platform .cp-right .video-container .video-mask::after {
  bottom: -75px;
  left: -6.7%;
}

.creators-platform .cp-right .video-container .cp-video-tag {
  filter: grayscale(1);
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  z-index: 1;
  top: 5.6%;
  bottom: 0;
  left: 0;
  right: 0;
}

.creators-platform .cp-right .video-container .mf-container {
  min-width: 280px;
  width: calc(100% - 53%);
  height: calc(100% - 27px);
  background-image: url("/images/creators-platform/mobile-frame.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 8.8% 3.6% 5.4% 3.6%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 7.9%;
  z-index: 2;
}

.creators-platform .cp-right .video-container .mf-container .mf-header {
  background-color: transparent;
  width: 100%;
}

.creators-platform .cp-right .video-container .mf-container .mf-footer {
  background-color: transparent;
  width: 100%;
}

.creators-platform .cp-right .video-container .mf-container .mf-content .items-slider {
  width: 100%;
  height: 10.4rem;
}

.creators-platform .cp-right .video-container .mf-container .mf-content {
  width: 100%;
  min-height: 166px;
  position: relative;
  overflow: hidden;
}

.creators-platform .cp-right .video-container .mf-container .mf-content .items-slider .item-slide {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 12s infinite;
  width: 100%;
  min-width: 230px;
  max-height: 166px;
  padding: 1rem;
  border-radius: 1.517rem;
  position: absolute;
  bottom: 0;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }

  40% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.creators-platform .cp-right .video-container .mf-container .mf-content .items-slider .item-slide:nth-child(1) {
  animation-delay: 0s;
}

.creators-platform .cp-right .video-container .mf-container .mf-content .items-slider .item-slide:nth-child(2) {
  animation-delay: 4s;
}

.creators-platform .cp-right .video-container .mf-container .mf-content .items-slider .item-slide:nth-child(3) {
  animation-delay: 8s;
}

.creators-platform .cp-right .video-container .mf-container .mf-content .items-slider .item-slide.mfc-video-call .video-call-actions .vc-action {
  background: rgba(0, 0, 0, 0.4);
  padding: 0.4rem;
  border-radius: 9999px; /* full-rounded */
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creators-platform .cp-right .video-container .mf-container .mf-content .items-slider .item-slide.mfc-video-call .video-call-actions .vc-action:nth-child(1) {
  background-color: #ef4444; /* midRed */
}

.creators-platform .cp-right .video-container .mf-container .mf-content .items-slider .item-slide.mfc-send-message .send-message-action {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.75rem;
  padding: 0.73rem;
  border-radius: 0.5rem;
  color: #ffffff; /* fullWhite */
  font-size: 0.643rem;
  line-height: 0.797rem;
}

@media screen and (min-width: 10px) and (max-width: 992px) {
  .creators-platform .cp-right .img-bg-blur {
    scale: 1.5 0.6;
    border-radius: 70rem;
    animation: unset;
  }

  .creators-platform .cp-right .video-container .video-mask {
    scale: 1;
  }
}

/* Mobile screens (below 600px) */
@media screen and (max-width: 599px) {
  .creators-platform .cp-right .video-container .mf-container .mf-header,
  .creators-platform .cp-right .video-container .mf-container .mf-footer {
    transform: scale(0.5);
  }

  .creators-platform .cp-right .video-container .mf-container .mf-content {
    transform: scale(0.7);
  }
}